<!DOCTYPE html>
<html lang="en">
<head>
	<title>SAMPLE TRUMPIA OSP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
	<script type= "text/javascript">
		function response() {
			var results = '{{results}}';
			console.log(results + "sdfsdf");
			if (results == "MPSE0501"){
				alert("Mobile Number is blocked.")
			}
			if (results == "invalid"){
				alert("Invalid Mobile Number!");
			}
			else if (results == "valid") {
				alert("Contact successfully added");
			}
		}
	</script>
</head>
<body onload = "response();" >
	<div class = "container2">
		<h1>
			SAMPLE TRUMPIA OSP
		</h1>
	</div>
	<div class = "container1">
		<form method = "POST">
			<div>
				<input type="text" name="firstname" placeholder="First Name">
			</div>
			<div>
				<input type="text" name="lastname" placeholder="Last Name">
			</div>
			<div>
				<input type="text" name="mobile_number" placeholder="Number">
			</div>
			<div>
				<input type="submit" value="Submit">
			</div>
		</form>
		<br>
	</div>
</body>
</html>
